# Servidor
SERVER_PORT=7001
SERVER_SERVLET_CONTEXT_PATH=/api-paseape

# Base de Datos MySQL (Local XAMPP / Docker / Aiven)
DB_URL=jdbc:mysql://localhost:3306/paseape_db?useSSL=false&serverTimezone=America/Lima&allowPublicKeyRetrieval=true
DB_USERNAME=root
DB_PASSWORD=

# JPA
JPA_SHOW_SQL=true

# Flyway
FLYWAY_ENABLED=true

# Google OAuth 2.0 (Web Client ID obtenido en Google Cloud Console)
GOOGLE_CLIENT_ID=xxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com

# Seguridad JWT
JWT_SECRET=super_secret_key_paseape_lima_2026_development_token_hash_256bits
JWT_EXPIRATION_MS=86400000
