# Servidor
SERVER_PORT=7001
SERVER_SERVLET_CONTEXT_PATH=/api-paseape

# Conexión MySQL XAMPP
DATASOURCE_HOST=localhost
DATASOURCE_PORT=3306
DATASOURCE_DATABASE=paseape_db
DATASOURCE_USERNAME=root
DATASOURCE_PASSWORD=root

# Pool & JPA
MAXIMUM_POOL_SIZE=10
JPA_SHOW_SQL=true

# Flyway
FLYWAY_ENABLED=true

# Google OAuth2 & JWT
GOOGLE_CLIENT_ID=xxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com
JWT_SECRET=super_secret_key_paseape_lima_2026_development_token_hash_256bits
JWT_EXPIRATION_MS=86400000